emulador/.vs/
bgbw64/
emulador/Debug/
emulador/emulador/Debug/
emulador/emulador/Release/
emulador/emulador/x64/
emulador/Release/
gb-test-roms-master/
roms/
emulador/emulador/out.txt
SFML-2.5.1/
*.sav
emulador/emulador/samples.bin
emulador/emulador/cgb_bios.bin
emulador/emulador/dmg_boot.bin
